.cont_image {
    text-align: -webkit-center;
    height: 10vh;
    background-image: linear-gradient(
            to left top,
            rgb(9, 139, 74),
            rgb(165, 235, 99)
    );
    background-size: initial;
}