.descriptionBlock {
  padding: 10px;
  display: flex;
}
.profileInfo {
  overflow: hidden;
}
.ava {
  border-radius: 20%;
  width: 150px;
}
.description {
  display: block;
}
.fullName {
  font-size: 25px;
  font-weight: 500;
}
.status {
  color: rgba(0, 0, 0, 0.7);
}
