@import url("https://fonts.googleapis.com/css?family=Finger+Paint|Girassol&display=swap");
html,
body {
  box-sizing: border-box;
  font-family: "Finger Paint";
}
.app-wrapper {
  margin: 0 auto;
  display: grid;
  width: 80vw;

  grid-template-areas:
    "header header"
    "nav cont";
  grid-template-rows: 60px 25vh;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}
.app-wrapper-content {
  grid-area: cont;
  padding: 1rem;
}
