body {
  font-family: "Indie Flower", cursive;
  background: url("./bck1.png") no-repeat fixed;
  background-size: cover;
}

.app-wrapper {
  margin: 0 auto;
  display: grid;
  width: 60vw;
  grid-template-areas: "h h" "n c";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  /* grid-gap: 10px; */
}

.app-wrapper-content {
  grid-area: c;
}

/*

/messages
/dialogs

/dialogs/3
/dialogs/2

*/
