.nav {
    grid-area: n;
    background-color: rgba(93, 101, 102, 0.3);
    height: 130px;
    padding: 5px;
}
.itemm a {
    color: rgb(91, 209, 219);
    padding: 1vh;
    text-decoration: none;
    font-size: 19px;
}
.itemm a.activeLink {
    color: #4a7291;
}
